<% include ../partials/header.ejs %>


<!--content for the Edit page-->
<div class = "container">
    <div class = "row">
        <div class ="offset-md-3 col-md-6">
        <h1><%= title %></h1>
        <form class = "form" method="POST">
            <div class ="form group">
                <label for="NameTextField">Title</label>
                <input type="text" class="form control"
                id="NameTextField"
                placeholder="Enter the Book Title"
                name="title"
                value="<%=book.Title%>"
                required>
            </div>

            <div class ="form group">
                <label for="PriceTextField">Price</label>
                <input type="text" class="form control"
                id="PriceTextField"
                placeholder="Enter the Book's Price"
                name="price" 
                value="<%=book.Price%>"
                required>
            </div>

            <div class ="form group">
                <label for="AuthorTextField">Author</label>
                <input type="text" class="form control"
                id="AuthorTextField"
                placeholder="Enter the Book's Author"
                name="author" 
                value="<%=book.Author%>"
                required>
            </div>

            <div class ="form group">
                <label for="GenreTextField">Genre</label>
                <input type="text" class="form control"
                id="GenreTextField"
                placeholder="Enter the Book's Genre"
                name="genre" 
                value="<%=book.Genre%>"
                required>
            </div>

            <button class = "btn btn-primary" type="submit"><i class ="fas fa-edit"></i>submit</button>
            <a href='/books' class="btn btn-warning"><i class="fas fa-undo"></i>cancel</a>  
        
        </form>
        </div>
        </div>
    </div>


  

<% include ../partials/footer.ejs %>

